#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# navio config for a quad
uorb start
if [ -f eeprom/parameters ]
then
	param load
fi
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 0
dataman start
ridephysics start
sensors start
commander start
ekf2 start
mavlink start -x -u 14556 -r 1000000
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50

logger start -t -b 200
mavlink boot_complete
